body {
    background-color: #FBE087;
}

#block-kustomteema-account-menu {
    float: right;
}

#block-kustomteema-branding {
    /*display: inline-block;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 0px;*/
    height: 110px;
}

#block-kustomteema-branding img {
    height: 100px;
    width: 350px;
}

#block-kustomteema-main-menu {
    margin: 0px 0 0px 0;
}

#edit-submit {
    background-color: #8C013C;
}

#main-menu .container {
    background: #126b1d;
}

#main-menu .container ul.menu li.menu-item a:hover {
    background: #8C013C;
}

#main-menu .container ul.menu li.menu-item--active-trail > a {
    background: #8C013C;
    
}

#main-menu .container ul.menu li:first-child > a:active {
    background: #8C013C;
}

#main-menu .container ul.menu li .is-active {
    background: #8C013C;
}

#block-kustomteema-search h2 {
    background: #126b1d;
}

article .node__links ul.inline li a, ul.links.inline li a {
    background: #FBE087;
    color: gray;
}

article .node__links ul.inline li a:hover, ul.links.inline li a {
    background: grey;
    color: white;
}